body{
    background-color: #708090;
}
#grid-div{
    display: grid;
    background-color: #708090;
    grid-template-areas: 
    'header header header '
    'sidebar main main  '
    'sidebar main main '
    'sidebar main main '
    'footer footer footer'
   ;
   gap: 0.8;
   height: max-content;
}

#header-div{
    grid-area: header;
    display: flex;
    justify-content: center;
    background-color:black;
    border-radius: 2vh;
    
}



#sidebar-div{
    grid-area: sidebar;
    background-color: #708090;
    display: flex;
    justify-content:space-evenly;
}

.main.div{
    display: flex;
}


#list1{
    border: 2px solid white;
    width: 20vw;
    height: 8vh;
    border-radius: 2vh; 
    background-color: #708090;
    color: #708090;
    text-align: center;
}
#list1:hover{
    background-color: black;
    border: #708090;
    color: white;
}





#main-div{
    grid-area: main;
    display: flex;
    height: 300vh;
    width: 70vw;
   
    
}

#img{
    height:30vh;
    width: 15vw;
    border-radius: 15vh;
    display: flex;
    position: relative;
    top: 5vh;
    left: 7vw;
    transition: all;
    transition-duration: 4s;
    box-shadow: 8px 5px 8px black;
    
   
   
}
#img:hover{
    width: 35px;
    height: 20px;
}
.text{
   position: relative;
   text-align: start;
   right:10vw;}

.text1{
   text-align: end;
   text-indent: 5vw;
   text-decoration-line: none;
   text-decoration-style: solid;
   font-size: 30px;
   letter-spacing: -0.3px;
}
   
   #text2{
    text-align: end;
    text-indent: 5vw;
    text-decoration-line: none;
    text-decoration-style: solid;
    font-size: 30px;
    letter-spacing: -0.3px;
    
    }

    #text3{
     text-align: center;
     text-indent: 5vw;
     text-decoration-line: none;
     text-decoration-style: solid;
     font-size: 30px;
     text-align: end;
     letter-spacing: -0.3px;
     
     }

     #about.me{
      display: flex;
      justify-content: center;
      font-size: 30px;
     
     }
     #school{
        display: flex;
        justify-content: center;
        border: 2px solid;
        font-size: 18px;
        position:relative;
        right: 0;
        text-align: right;
        text-align: left;
        
    
     }
     #img1{
        width: 15vw;
        position: relative;
        left: 20vw;
     }

     #army{
        display: flex;
        border: 2px solid;
        font-size: 18px;
     
        
     }
     #img2{
         
        width: 15vw;
        position: relative;
        left: 20vw;
    }
     
     #work{
        display: flex;
       
        justify-content: center;
        border: 2px solid;
        font-size: 18px;
        right: 0;
     }
     #img3{
        width: 15vw;
        position: relative;
        left: 20vw;
    }

    #anime{
        position: absolute;
        right: 30vw;
        animation-timing-function: initial;
    }
  
    
   
    
#footer-div{
    grid-area: footer;
    display: flex;
    justify-content:space-evenly;
    bottom: 0;
}




